.div1{
    border-style: solid;
    border-color: blue;
    justify-content: center;
}

.classe1{

    font-size: medium;
    border: solid blue 10px;

}

.classe2{

    font-size: small;
    
}

.classe3{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}